/* General display rules */

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Html components display rules */

html {
  margin: 0;
}

body {
  font-size: 18px;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
}

main {
  position: relative;
  min-height: 80vh;
}

a {
  text-decoration: none;
  color: #4f86f7;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

header {
  min-height: 10vh;
}

footer {
  min-height: 10vh;
}

input {
  height: 40px;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  border: 2px solid #4f86f7;
  border-radius: 5px;
  margin: 5px;
  flex-grow: 1;
}

button {
  border-radius: 5px;
  min-width: 50px;
  max-width: 150px;
  height: 40px;
  background-color: #4f86f7;
  color: white;
  border: none;
  text-align: center;
  text-decoration: none;
  box-sizing: border-box;
  margin: 5px;
  transition-duration: 0.5s;
}

button:disabled {
  pointer-events: none;
  opacity: 0.5;
}

/* Adaptive display rules */

@media (min-width: 480px) {
  .adaptive-width {
    width: 95%;
  }

  .adaptive_height {
    height: 50%;
  }

  .adaptive-element-width {
    width: 100%;
  }

  .adaptive-element-height {
    height: 30vh;
  }

  .recipe-step-container {
    justify-content: start;
    height: 75vh;
    width: 90vw;
  }
}

@media (min-width: 1080px) {
  .adaptive-width {
    width: 70%;
  }

  .adaptive_height {
    height: 35%;
  }

  .adaptive-element-width {
    width: 48%;
  }

  .adaptive-element-height {
    height: 25vh;
  }

  .recipe-step-container {
    height: 60vh;
    width: 70vw;
  }
}

/* Specific classes display rules */

.app-name-text {
  font-size: 36px;
}

.unimportant-text {
  font-size: 16px;
  color: #666666;
}

.text-center {
  text-align: center;
}

.recipe-container {
  margin: 10px;
  transition-duration: 0.5s;
}

.image-container {
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.text-container {
  width: 50%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  justify-content: start;
}

.recipe-caption {
  display: -webkit-box;
  color: #4f86f7;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  padding-bottom: 5px;
}

.recipe-description {
  overflow: scroll;
}

.shadow-border {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
}

.search-container {
  width: 100%;
}

.buttons-bar {
  margin: 10px;
  width: 100%;
}

.timer {
  min-width: 50px;
  max-width: 200px;
  height: 40px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
}

/* Animations */

button:hover {
  background-color: white;
  color: #4f86f7;
}

button:active {
  box-shadow:
    0 0 0 5px #4f86f7,
    inset 0 0 0 1px #fff;
}

.recipe-container:hover {
  transform: scale(1.05);
}

.recipe-container:active {
  transform: scale(0.95);
}

.step-data {
  flex-grow: 1;
  width: 100%;
}

.recipe-list-container {
  width: 100%;
}