body {
  padding: 0;
  margin: 0;
}

html {
  font-size: 18px;
  font-family: sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #eeeeee;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #eeeeee;
  position:absolute;
  bottom:0;
}

.text-div {
  font-size: 24px;
  align-self: center;
  margin: 10px;
}

.gray-text {
  color: #aaaaaa;
}

.app-name {
  color: #4f86f7;
  font-size: 48px;
  align-self: center;
  text-decoration: none;
}

#root {
  margin: 10px auto 10px auto;
  width: 70%;
}

.recipe-list-element {
  display: flex;
  flex-direction: row;
  margin: 15px;
  width: 46%;
  height: 10rem;
}

.recipe-list-element:hover {
  transform: scale(1.05);
}

.border {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  background-color: #fff;
  box-sizing: border-box;
  transition: all 0.2s ease;
}

.recipe-image {
  width: 50%;
  overflow: hidden;
}

img {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
}

.caption-description {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 50%;
}

.caption {
  text-align: center;
}

.description {
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.search-container {
  display: flex;
  justify-content: space-evenly;
}

.recipe-container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  flex-wrap: wrap;
}

.searchbar {
  width: 80%;
}

.recipe {
  margin: auto;
  padding: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;
  height: 32rem;
  width: 85%;
}

.recipe-flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 10px;
}

button {
  min-width: 100px;
  padding: 5px;
  transition-duration: 0.4s;
  border: 2px solid #4f86f7;
  border-radius: 4px;
  font-size: 16px;
  text-decoration: none;
  display: inline-block;
  background-color: white;
  height: 50px;
}

button:hover {
  background-color: #4f86f7; /* Green */
  color: white;
}

.timer {
  min-width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchbar {
  font-size: 18px;
  font-family: sans-serif;
  border-radius: 3px;
  text-decoration: none;
  border: 2px solid #4f86f7;
}
