<div class="action-container flex-row">
  <button type="button" class="button-login">Log in</button>
  <button type="button" class="button-register">Register</button>
  <button type="button" class="button-add">Add recipe</button>
  <div class="accent-text username">{{username}}</div>
</div>