<div class="text-info">Write a name, description and provire a picture for the
  step</div>
<input type="text" class="" placeholder="Name..." />
<input type="text" class="" placeholder="Description..." />
<input type="text" class="" placeholder="Url..." />