<div class="flex-row">
  <div class="text-info">Write a name, description and provire a picture for the
    step</div>
  <input type="text" class="step-name" placeholder="Name..." />
  <input type="text" class="step-description" placeholder="Description..." />
  <input type="text" class="step-image-url" placeholder="Image url..." />
</div>