<div class="flex-column">
  <div class="text-info">Write a name, description and provire a picture for the
    step</div>
  <div class="flex-row">
    <input
      type="text"
      class="step-data-input step-name"
      placeholder="Name... (string)"
    />
    <input
      type="text"
      class="step-data-input step-description"
      placeholder="Description... (string)"
    />
    <input
      type="text"
      class="step-data-input step-duration"
      placeholder="Duration in seconds... (integer)"
    />
    <input
      type="text"
      class="step-data-input step-image-url"
      placeholder="Image url... (url)"
    />
  </div>
</div>