<div class="add-recipe flex-column">
  <div class="accent-text">Add a new recipe</div>
  <div class="text-info">Write a name and a description for your recipe, also
    you may attach a picture</div>
  <input type="text" class="" placeholder="Name..." />
  <input type="text" class="" placeholder="Description..." />
  <input type="text" class="" placeholder="Url..." />
  <div class="text-info">Write info for each step</div>
  <div class="recipe-step-storage"></div>
  <button type="button" class="button-add-step">add step</button>
  <button type="button" class="button-add-recipe">add this recipe</button>
</div>