<div class="credentials-container flex-column">
  <div class="accent-text">{{action}}</div>
  <div class="text-info">{{info}}</div>
  <input type="text" class="login" placeholder="Login..." />
  <input type="password" class="password" placeholder="Password..." />
  <button type="button" class="button-submit">{{action_button_text}}</button>
</div>