<div class="search-container flex-row">
  <input
    type="text"
    class="searchbar"
    placeholder="Search recipes..."
    value="{{value}}"
  />
  <button type="button" class="button-prev-list button-nav">Back</button>
  <button type="button" class="button-next-list button-nav">Next</button>
</div>